.errorText {
  color: var(--color-error);
  font-size: 0.875rem;
  padding: 0.3rem 0 0 0.2rem;
}

.inputContainer .labelName {
  color: var(--color-white);
  margin-bottom: 0.7rem;
  font-size: 0.9375rem;
  font-weight: 500;
}
