@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #9935ff;
  --color-secondary: #0f1729;
  --color-grey: #93a2b8;
  --color-error: #f46a6a;
  --color-black: #000000;
  --color-white: #ffffff;
  --gradient-primary: linear-gradient(135deg, #9935ff, #3d8bff);
  --gradient-secondary: linear-gradient(180deg, #83a2ff, #141826);
  --glow: 0 0 40px rgba(154, 59, 255, 0.3);
  --glow-accent: 0 0 40px rgba(61, 139, 255, 0.3);
  --color-active-shadow: 0 0 0 2px #9935ff;
}
